<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<link rel="icon" href="{% static 'img/logo.jpg' %}">
		<title>Art & Culture</title>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<script src="https://kit.fontawesome.com/d75b1ad41e.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
	</head>
	<body dir="rtl">
		<div class="void">
		</div>
		<nav>
			<img class="logo" src="{% static 'img/logo.jpg' %}"></img>
			<a href="{% url 'home' %}">الرئيسية</a>
			<a href="{% url 'categorized' 'latest' %}">آخر الأخبار</a>
			<a href="{% url 'categorized' 'music' %}">موسيقى</a>
			<a href="{% url 'categorized' 'literature' %}">أدب</a>
			<a href="{% url 'categorized' 'theater' %}">مسرح</a>
			<a href="{% url 'categorized' 'cinema' %}">سينما</a>
			<div class="contact">
				<!-- <a><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
				<!-- <a><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
				<!-- <a><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
				<!-- <a><i class="fa fa-youtube" aria-hidden="true"></i></a> -->
			</div>
			<button class="rounded-btn" onclick="window.location.href = {% url 'about' %}">تواصل معنا</button>
			<span id="search-btn"><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
		</nav>
		<div class="banner">
			<h1>الفنون الجميلة</h1>
		</div>
		<div id="search-bar" style="display: none;">
			<svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
			<input type="text" autocomplete="off" name="text" id="search-input" class="input" placeholder="إبحث">
		</div>
		<section id="latest">
		</section>
		<div style="display: flex;justify-content: center;">
			<h1>إعلانات</h1>
		</div>
		<div id="pubSlide" class="slideSection">
			<div>
				<span class="slideSwitch left-10" onclick="prevSlide()"><i class="fa-solid fa-circle-chevron-left fa-lg"></i></span>
				<span class="slideSwitch right-10" onclick="nextSlide()"><i class="fa-solid fa-circle-chevron-right fa-lg"></i></span>
			</div>
			<div id="slideImg1" name="slideItem" class="slide">
				<img name="slideImg" src="{% static 'img/slide1.png' %}"></img>
			</div>
			<div id="slideImg2" name="slideItem" class="slide" style="display: none;">
				<img name="slideImg" src="{% static 'img/slide2.jpg' %}"></img>
			</div>
			<div id="slideImg3" name="slideItem" class="slide" style="display: none;">
				<img name="slideImg" src="{% static 'img/slide3.jpg' %}"></img>
			</div>
			<div id="slideImg4" name="slideItem" class="slide" style="display: none;">
				<img name="slideImg" src="{% static 'img/slide4.jpeg' %}"></img>
			</div>
			<div class="dots">
				<span id="dot4" class="dot" onclick="currentSlide(4)"></span>
				<span id="dot3" class="dot" onclick="currentSlide(3)"></span>
				<span id="dot2" class="dot" onclick="currentSlide(2)"></span>
				<span id="dot1" class="dot" onclick="currentSlide(1)"></span>
			</div>
		</div>
		<div id="categorized">
		</div>
		<br>
	</body>
	<footer>
		<div>
			<img src="{% static 'img/logo.jpg' %}"></img>
			<h1>الفنون الجميلة</h1>
		</div>
		<div>
			<h3>تواصل معنا</h3>
			<div>
				<p><i class="fa fa-envelope" aria-hidden="true"></i> artculture526@gmail.com</p>
			</div>
			<div>
				<p><i class="fa fa-home" aria-hidden="true"></i> Rue Doudou Mokhtar ,Ben Aknoun, Alger</p>
			</div>
			<div>
				<p><i class="fa fa-phone" aria-hidden="true"></i> 0792922628</p>
			</div>
		</div>
	</footer>
	<div style="text-align: center;">
		جميع الحقوق محفوظة 2025
	</div>
	<script>
		let btn = document.getElementById("search-btn")
		let div = document.getElementById("search-bar")
		let input = document.getElementById("search-input")
		let latest = document.getElementById("latest")
		let categorized = document.getElementById("categorized")
		btn.onclick = (event) => {
			if (div.style.display == "none") {
				div.style.display = "flex";
			} else {
				div.style.display = "none";
			}
		}
		
		input.onchange = (event) => {
			latest.innerText = ""
			categorized.innerText = ""
			let eighty = document.createElement('div')
			let value = ""
			eighty.classList.add("eighty")
			if (input.value == "")
			{
				value = "none"
			} else {
				value = input.value
			}
			fetch(`search/${value}`, {
				headers: {
						'Content-Type': 'application/json',
					},
					cache: 'no-store',
				}).then(response => response.json()).then(data => {
					for (var i=0; i < data.length; i++)
					{
						createPost("horizantal-small-post", "hor-desc", data[i], eighty)
					}
					latest.appendChild(eighty)
				}).catch(error => console.log(error))
		}
		function createPost(postClass, desClass, data, parentDiv)
		{
			let post = document.createElement('div')
			post.classList.add(postClass)
			let img = document.createElement('img')
			img.src = data.img
			post.appendChild(img)
			let desc = document.createElement('div')
			desc.align = "justify"
			desc.classList.add(desClass)
			let title = document.createElement('h3')
			title.onclick = (event) => {
				window.location.href = `article/${data.id}`
			}
			title.innerText = data.title
			let small = document.createElement('small')
			small.innerText = data.date
			desc.appendChild(title)
			desc.appendChild(small)
			let descp = document.createElement('p')
			descp.innerText = data.description
			desc.appendChild(descp)
			post.appendChild(desc)
			parentDiv.appendChild(post)
			return
		}
	</script>
	<script src="{% static 'js/index.js' %}"></script>
</html>