<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<title>Art & Culture</title>
		<link rel="stylesheet" href="css/styles.css">
		<script src="https://kit.fontawesome.com/d75b1ad41e.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
	</head>
	<body dir="rtl">
		<div class="void">
		</div>
		<nav>
			<img class="logo" src="img/logo.jpg"></img>
			<a>آخر الأخبار</a>
			<a>موسيقى</a>
			<a>أدب</a>
			<a>مسرح</a>
			<a>سينما</a>
			<div class="contact">
				<a><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a><i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>
			<span class="search-btn"><i class="fa-solid fa-magnifying-glass fa-xl"></i></span>
		</nav>
		<div class="banner">
			<h1>الفنون الجميلة</h1>
		</div>
		<br>
		<section>
			<div class="vertical-post">
				<img src="media/img/post-img-1.png"></img>
				<div align="justify" class="ver-desc">
					<h3>تمديد آجال طلبات دعم المشاريع الثقافية و الفنية </h3>
					      قررت وزارة الثقافة و الفنون تمديد آجال إيداع طلبات الإستفادة من الدعم العمومي للمشاريع الثقافية و الفنية للمجمعات بعنوان سنة 2025 .
						  و حددت الوزارة تاريخ 15 جانفي 2025  آخر أجل لإيداع طلبات الاستفادة من الدعم العمومي للمشاريع الثقافية و الفنية للجمعيات.
						  و يأتي القرار بحسب وزارة الثقافة و الفنون اليوم السبت من أجل إتاحة الفرصة لأكبر عدد من الجمعيات لإيداع مشاريعهم. 
				</div>
			</div>
			<div>
				<div class="horizantal-post">
					<img src="media/img/post-img-2.jpg"></img>
					<div align="justify" class="hor-desc">
						<h3>انطلاق النسخة السابعة عشر للمهرجان الثقافي الوطني للمسرح المحترف</h3>
						افتتح وزير الثقافة والفنون الجزائري، السيد "زهير بللو"، مساء الجمعة 20 ديسمبر 2024، فعاليات الدورة السابعة عشر من "المهرجان الثقافي الوطني للمسرح المحترف"، التي تحمل اسم الفنانة "نادية طالبي"
					</div>
				</div>
				<div class="horizantal-post">
					<img src="media/img/post-img-2.jpg"></img>
					<div align="justify" class="hor-desc">
						<h3>انطلاق النسخة السابعة عشر للمهرجان الثقافي الوطني للمسرح المحترف</h3>
						افتتح وزير الثقافة والفنون الجزائري، السيد "زهير بللو"، مساء الجمعة 20 ديسمبر 2024، فعاليات الدورة السابعة عشر من "المهرجان الثقافي الوطني للمسرح المحترف"، التي تحمل اسم الفنانة "نادية طالبي"
					</div>
				</div>
				<div class="horizantal-post">
					<img src="media/img/post-img-2.jpg"></img>
					<div align="justify" class="hor-desc">
						<h3>انطلاق النسخة السابعة عشر للمهرجان الثقافي الوطني للمسرح المحترف</h3>
						افتتح وزير الثقافة والفنون الجزائري، السيد "زهير بللو"، مساء الجمعة 20 ديسمبر 2024، فعاليات الدورة السابعة عشر من "المهرجان الثقافي الوطني للمسرح المحترف"، التي تحمل اسم الفنانة "نادية طالبي"
					</div>
				</div>
			</div>
		</section>
		<div style="display: flex;justify-content: center;">
			<h1>إعلانات</h1>
		</div>
		<div id="pubSlide" class="slideSection">
			<div>
				<span class="slideSwitch left-10" onclick="prevSlide()"><i class="fa-solid fa-circle-chevron-left fa-lg"></i></span>
				<span class="slideSwitch right-10" onclick="nextSlide()"><i class="fa-solid fa-circle-chevron-right fa-lg"></i></span>
			</div>
			<div id="slideImg1" name="slideItem" class="slide">
				<img name="slideImg" src="img/slide1.png"></img>
			</div>
			<div id="slideImg2" name="slideItem" class="slide" style="display: none;">
				<img name="slideImg" src="img/slide2.jpg"></img>
			</div>
			<div id="slideImg3" name="slideItem" class="slide" style="display: none;">
				<img name="slideImg" src="img/slide3.jpg"></img>
			</div>
			<div id="slideImg4" name="slideItem" class="slide" style="display: none;">
				<img name="slideImg" src="img/slide4.jpeg"></img>
			</div>
			<div class="dots">
				<span id="dot1" class="dot" onclick="currentSlide(1)"></span>
				<span id="dot2" class="dot" onclick="currentSlide(2)"></span>
				<span id="dot3" class="dot" onclick="currentSlide(3)"></span>
				<span id="dot4" class="dot" onclick="currentSlide(4)"></span>
			</div>
		</div>
		<div>
			<aside>
				newsletter
			</aside>
			<div class="posts">
				<div class="horizantal-post">
					<img src="media/img/post-img-2.jpg"></img>
					<div align="justify" class="hor-desc">
						<h3>انطلاق النسخة السابعة عشر للمهرجان الثقافي الوطني للمسرح المحترف</h3>
						افتتح وزير الثقافة والفنون الجزائري، السيد "زهير بللو"، مساء الجمعة 20 ديسمبر 2024، فعاليات الدورة السابعة عشر من "المهرجان الثقافي الوطني للمسرح المحترف"، التي تحمل اسم الفنانة "نادية طالبي"
					</div>
				</div>
				<div class="horizantal-post">
					<img src="media/img/post-img-2.jpg"></img>
					<div align="justify" class="hor-desc">
						<h3>انطلاق النسخة السابعة عشر للمهرجان الثقافي الوطني للمسرح المحترف</h3>
						افتتح وزير الثقافة والفنون الجزائري، السيد "زهير بللو"، مساء الجمعة 20 ديسمبر 2024، فعاليات الدورة السابعة عشر من "المهرجان الثقافي الوطني للمسرح المحترف"، التي تحمل اسم الفنانة "نادية طالبي"
					</div>
				</div>
				<div class="horizantal-post">
					<img src="media/img/post-img-2.jpg"></img>
					<div align="justify" class="hor-desc">
						<h3>انطلاق النسخة السابعة عشر للمهرجان الثقافي الوطني للمسرح المحترف</h3>
						افتتح وزير الثقافة والفنون الجزائري، السيد "زهير بللو"، مساء الجمعة 20 ديسمبر 2024، فعاليات الدورة السابعة عشر من "المهرجان الثقافي الوطني للمسرح المحترف"، التي تحمل اسم الفنانة "نادية طالبي"
					</div>
				</div>
				<div class="horizantal-post">
					<img src="media/img/post-img-2.jpg"></img>
					<div align="justify" class="hor-desc">
						<h3>انطلاق النسخة السابعة عشر للمهرجان الثقافي الوطني للمسرح المحترف</h3>
						افتتح وزير الثقافة والفنون الجزائري، السيد "زهير بللو"، مساء الجمعة 20 ديسمبر 2024، فعاليات الدورة السابعة عشر من "المهرجان الثقافي الوطني للمسرح المحترف"، التي تحمل اسم الفنانة "نادية طالبي"
					</div>
				</div>
			</div>
		<div>
	</body>
	<script src="js/index.js"></script>
</html>