

body {
	font-family: "Changa", serif;
	margin: 0;
}


.void {
	display: flex;
	width: 100%;
	height: 20vh;
	background-color: #eee;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 10vh;
	border: #eee 0.8px solid;
	
}

nav > .logo {
	width: auto;
	height: 100%;
}

nav > a {
	width: 5%;
	font-size: 16px;
	font-weight: bold;
	transition: color 0.6s;
}

nav > a:hover {
	color: #c8ad7f;
}


.search-btn {
	width: 10%;
}

.search-btn:hover {
	transition: color 0.6s;
	color: #c8ad7f;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #c8ad7f;
	color: white;
	font-size: 28px;
	height: 20vh;
}

.contact {
	width: 40%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contact > a {
	margin: 10px;
}

.contact > a:hover:nth-child(1){
	transition: color 0.6s;
	color: #8a3ab9;
}
.contact > a:hover:nth-child(2){
	transition: color 0.6s;
	color: #316FF6;
}
.contact > a:hover:nth-child(3){
	transition: color 0.6s;
	color: #1DA1F2;
}
.contact > a:hover:nth-child(4){
	transition: color 0.6s;
	color: #FF0000;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 5vw;
}

.vertical-post {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	max-width: 50%;
	margin: 15px;
	height: 120%;
	font-size: 20px;

}

.horizantal-post {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	max-height: 30%;
	max-width: 100%;
	margin: 15px;
	padding: 5px;
	/* margin-top: 5rem; */
}

.vertical-post img {
	max-height: 70%;
	max-width: 100%;
}

.horizantal-post img {
	align-self: center;
	max-height: 100%;
	max-width: 40%;
}


.ver-desc {
	color: #333;
	max-height: 40%;
	max-width: 100%;
}

.hor-desc {
	color: #333;
	max-height: 100%;
	max-width: 60%;
}

.hor-desc > h3, .ver-desc > h3 {
	color: #000;
}


.slideSection {
	position: relative;
}

.slide {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100%;
	animation: move 2s ease forwards;
}

.slideSwitch {
	position: absolute;
	cursor: pointer;
	display: block;
	color: black;
	opacity: 0.7;
	top: 50%;
	z-index: 2;
	font-size: 50px;
}

.slideSwitch:hover {
	opacity: 1;
}


.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	display: inline-block;
	background-color: black;
	border-radius: 50%;
	opacity: 0.5;
}

.dots {
	position: absolute;
	bottom: 8px;
	right: 45%;
}

.left-10 {
	left: 12%;
}

.right-10 {
	right: 12%;
}

#pubSlide {
	background: white;
	border: 1px solid #dde;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 10px;
	height: 100vh;
}

.slide > img {
	width: 80%;
	height: 100%;
}
